<div *ngIf="!current">
  no data
</div>
<div *ngIf="current">
  <div fxLayout="row">
    <div fxFlex="66%">{{current?.city}}, {{current?.country}},</div>
    <div class="right" fxFlex>{{current?.date | date:'fullDate'}}</div>
  </div>
  <div fxLayout="row">
    <div fxFlex="66%">
      <img [src]="current?.image" alt="">
    </div>
    <div class="right" fxFlex>{{current?.temperature | number:'1.0-0'}}˚F </div>
  </div>
  <div fxLayoutAlign="center">
    {{current?.description}}
  </div>
</div>
